<!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
      Ivan || Yulia 
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ 
     1. Всі класи починаються з вашого розділу, тобто якщо у вас footer,
клас обовязково має виглядати так class="footer-вашаназва" - це потрібно 
для того, щоб ваші назви не збігались!!  
     2. Обовязково у вашій секції всередині має бути дів з класом container!!!!!! (потрібно для різних розмірів екрану тобто для Mobile/tablet/dekstop verison) 
     Приклад знизу або файл hero.html можете глянути
     <section><div class="container"></div></section>
     3. Якщо щось потрібно пояснити чи додати фотографію чи іконку - пишіть постараюсь допомогти

     Успіхів!  -->
<!-- <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/cart.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>DreamProject</title>
  </head>
  <body>
    <header class="header">
      <div class="container header-container">
        <div class="header-div-link">
          <a href="" class="header-logo">
            <svg class="header-icon-food" width="16" height="16">
              <use href="./img/icon.svg#icon-food_boot"></use>
            </svg>
          </a>
          <a class="header-name">Food Boutique</a>
        </div>
        <nav class="header-nav">
          <a href="" class="header-home header-nav-link">Home</a>
          <a href="" class="header-goods header-nav-link">
            <svg class="header-icon-shop" width="14" height="14">
              <use href="./img/icon.svg#icon-shop"></use>
            </svg>
          </a>
        </nav>
      </div>
    </header>

    <main>
      <section class="cart-section">
        <div class="container cart-container">
          <div class="cart-count">
            <a class="cart-link-icon" href="#">
              <svg class="header-icon-shop" width="14" height="14">
                <use href="./img/icon.svg#icon-shop"></use>
              </svg>
            </a>
            <p class="cart-name">CART</p>
            <p class="cart-cards-count-number"></p>
          </div>
          <div class="cart-empty-basket">
            <picture>
              <source
                class="cart-basket-img"
                media="(max-width: 375px)"
                srcset="
                  ../img/yellowBasket.png   1x,
                  ../img/yellowBasket2x.png 2x
                "
                width="132"
                height="114"
              />

              <source
                class="cart-basket-img"
                media="(max-width: 1440px)"
                srcset="
                  ../img/yellowBasket.png   1x,
                  ../img/yellowBasket2x.png 2x
                "
                width="164"
                height="140"
              />

              <img
                class="cart-basket-img"
                src="../img/yellowBasket.png"
                alt="yellow basket"
                loading="lazy"
              />
            </picture>

            <div class="cart-empty-desc">
              <ul class="cart-desc-ul">
                <li>
                  <p>
                    Your basket is
                    <a href="../index.html" class="cart-link">empty...</a>
                  </p>
                </li>
                <li>
                  <p class="cart-gray-text">
                    Go to the main page to select your favorite products and add
                    them to the cart.
                  </p>
                </li>
              </ul>
            </div>
          </div> -->
<!-- <div class="cart-card-list">
            <div class="cart-del-btn">
              <button type="button" class="cart-delete-btn">
                <b>Delete all</b>
              </button>
            </div>
            <ul class="cart-added-cards"></ul>

            <div class="cart-order-form">
              <p class="cart-your-order">YOUR ORDER</p>
              <div class="cart-total-sum">
                <ul class="cart-sum-ul">
                  <li class="cart-total">Total</li>
                  <li class="cart-sum">Sum:</li>
                  <li class="cart-number">$</li>
                </ul>
              </div>
              <form class="cart-form">
                <input
                  type="email"
                  placeholder="Mail:  Enter your email"
                  name="email"
                  class="cart-email-input"
                  pattern="[a-z0-9.]{3,}@[a-z0-9.]{3,}"
                  id="enter-email"
                  title="The mail cannot be less than 7 Latin characters and must contain @."
                />
                <button type="submit" class="cart-form-btn">Checkout</button>
              </form>
            </div>
          </div> -->
<!-- </div>
      </section>
    </main>
  </body>
</html> -->
<!-- *************************** -->
<!-- <section class="cart-container container">
  <div class="cart-box">
    <div class="cart-block-icon">
      <svg class="cart-icon" width="18" height="18">
        <use href="../img/icon.svg#icon-shop"></use>
      </svg>
    </div>
    <h2 class="cart-title">CART(<span class="cart-span-quantity">0</span>)</h2>
  </div>
  <div class="js-basket"></div>
</section> -->
<!-- *************************** -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/cart.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>DreamProject</title>
  </head>
  <body>
    <header class="header">
      <div class="container header-container">
        <div class="header-div-link">
          <a href="" class="header-logo">
            <svg class="header-icon-food" width="16" height="16">
              <use href="./img/icon.svg#icon-food_boot"></use>
            </svg>
          </a>
          <a class="header-name">Food Boutique</a>
        </div>
        <nav class="header-nav">
          <a href="" class="header-home header-nav-link">Home</a>
          <a href="" class="header-goods header-nav-link">
            <svg class="header-icon-shop" width="14" height="14">
              <use href="./img/icon.svg#icon-shop"></use>
            </svg>
          </a>
        </nav>
      </div>
    </header>
    <main>
<section class="cart-section">
  <div class="cart-title-box">
    <div class="cart-title-icon">
      <svg class="cart-icon-svg" width="18" height="18">
        <use href="../img/icon.svg#icon-shop"></use>
      </svg>
    </div>
    <div class="cart-title">
      <h2 class="cart-title-text">cart(<span id="cart-counter">0</span>)</h2>
    </div>
  </div>
<!-- delete all -->
  <div class="js-cart-box">
    <div class="cart-delete-list">
      <div class="cart-delete-all-box">
        <p class="cart-delete-all-text">Delete all</p>
        <button type="button" class="cart-delete-btn">
          <svg class="cart-delete-close-icon">
            <use href="../img/icon.svg#"></use>
          </svg>
        </button>
      </div>
      <!-- список доданих товарів -->
      <div class="cart-list-block"></div>
    </div>

    <!-- замовлення -->
    <div class="cart-total-order-box">
      <p class="cart-order-title">Your Order</p>
      <div class="cart-order-block">
        <div class="cart-total-price">
          <p class="cart-total-title">Total</p>
          <p class="cart-sum">
            Sum:<span class="cart-span-sum" id="your-order-total-price"></span>
          </p>
        </div>
      </div>
<!-- form -->
      <form class="cart-checkout-form">
          <label for="cart-client-email" class="cart-label">
            <span class="cart-placeholder">Mail:</span>
            <input
              class="cart-input"
              type="email"
              name="email"
              placeholder="Enter your email"
            />
          </label>

          <button
            type="submit"
            class="cart-button-submit"
            aria-label="Checkout cart"
          >
            Checkout
          </button>
        </form>
      </div>

      <!-- empty cart -->
      <div class="cart-empty-cart">
        <div class="cart-img-empty-cart">
          <img
            class="img-shopping-cart"
            src=""
            width="132"
            height="114"
          />
        </div>
        <div class="cart-text">
          <p class="cart-text-empty">
            Your basket is <span class="cart-text-span">empty...</span>
          </p>
          <p class="cart-text-full">
            Go to the main page to select your favorite <br />
            products and add them to the cart.
          </p>
        </div>
      </div>


    </div>
  </div>
</section>
</main>
  </body>
</html>