<!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
    Ондрій + Andrian Pohrebniak + Pasha
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ -->

<section class="filter">
  <div class="container filter-container">
    <div class="filt-div-position">
      <div class="filter-div-search">
        <label for="filter-search" class="filter-seach-label">Filters:</label>
        <form class="filter-div-label">
          <input
            id="filter-search"
            name="filter-search"
            type="text"
            class="filter-search-something filter-selec"
            placeholder="Search for anything"
          />
          <button type="submit" class="filter-btn-search">
            <svg class="hero-icon" width="20" height="20">
              <use href="./img/icon.svg#icon-lupa"></use>
            </svg>
          </button>
        </form>
      </div>
      <!-- gg -->
      <select
        name="filt-name-select"
        class="filter-categories filter-selec filter-strilka"
      >
        <option value="" selected disabled hidden>Categories</option>
      </select>
      <select class="filter-sort filter-selec filter-strilka">
        <option value="">A to Z</option>
        <option value="">Z to A</option>
        <option value="">Cheap</option>
        <option value="">Expensive</option>
        <option value="">Popular</option>
        <option value="">Not popular</option>
        <option value="">Show all</option>
      </select>
    </div>
    <div class="filter-cards"></div>

    <div class="pagination-container pagination">
      <button type="button" class="pagination-arrow pag-first-page">1</button>
      <button class="pagination-arrow prew-button is-hiden" type="button" disabled="true">
        prew
      </button>
      <ul class="pagination-list"></ul>
      <button class="pagination-arrow next-button is-hiden" type="button">
        next
      </button>
      <button type="button"  class="pagination-arrow last-total-page"></button>
    </div>
  </div>
</section>
