

<section class="filter">
  <div class="container filter-container">
    <div class="filt-div-position">
      <div class="filter-div-search">
        <h2 hidden>Somethin</h2>
        <label for="filter-search" class="filter-seach-label">Filters:</label>
        <form class="filter-div-label">
          <input
            id="filter-search"
            name="filter-search"
            type="text"
            class="filter-search-something filter-selec"
            placeholder="Search for anything"
          />
          <button type="submit" class="filter-btn-search">
            <svg class="hero-icon" width="20" height="20">
              <use href="./img/icon.svg#icon-lupa"></use>
            </svg>
          </button>
        </form>
      </div>
      <!-- gg -->
<div class="custom-select">
  <button
    class="select-button"
    role="combobox"
    aria-labelledby="select button"
    aria-haspopup="listbox"
    aria-expanded="false"
    aria-controls="select-dropdown"
  >
    <span class="selected-value" value="Show all">Categories</span>
  </button>
  <ul class="select-dropdown" role="listbox" id="select-dropdown">
  </ul>
</div>













      <!-- 21424 -->
    </div>
    <div class="filter-cards"></div>

    <div class="pagination-container pagination">
      <div class="pagination-div">
      <button type="button" class="pagination-arrow pag-first-page">
        <span class="pagination-icon">
          <svg class="pagination-arrows-icon" width="24" height="24">
            <use href="./img/icon.svg#icon-arrowx2" class="pag-use"></use>
          </svg>
        </span>
      </button>
      <button
        class="pagination-arrow prew-button is-hiden"
        type="button"
        disabled
      >
        <span class="pagination-icon">
          <svg class="pagination-arrows-icon" width="12" height="12">
            <use href="./img/icon.svg#icon-arrowx1" class="pag-use"></use>
          </svg>
        </span>
      </button>
      </div>
      <ul class="pagination-list"></ul>
      <div class="pagination-div">
      <button class="pagination-arrow next-button is-hiden" type="button">
        <span class="pagination-icon">
          <svg class="pagination-arrows-icon reverse rorate" width="12" height="12">
            <use href="./img/icon.svg#icon-arrowx1" class="pag-use"></use>
          </svg>
        </span>
      </button>
      <button type="button" class="pagination-arrow last-total-page">
        <span class="pagination-icon">
          <svg class="pagination-arrows-icon rorate" width="24" height="24">
            <use href="./img/icon.svg#icon-arrowx2" class="pag-use"></use>
          </svg>
        </span>
      </button>
</div>
    </div>
  </div>
</section>
