<!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
      Sloboda Volodymyr
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ 
     1. Всі класи починаються з вашого розділу, тобто якщо у вас footer,
клас обовязково має виглядати так class="footer-вашаназва" - це потрібно 
для того, щоб ваші назви не збігались!!  
     2. Обовязково у вашій секції всередині має бути дів з класом container!!!!!! (потрібно для різних розмірів екрану тобто для Mobile/tablet/dekstop verison) 
     Приклад знизу або файл hero.html можете глянути
     <section><div class="container"></div></section>
     3. Якщо щось потрібно пояснити чи додати фотографію чи іконку - пишіть постараюсь допомогти

     Успіхів!  -->

<section>
  <div class="footer-container container">
    <div class="footer-logo-socials">
      <a class="footer-ref" href="./index.html">
        <div class="footer-logo">
          <svg class="footer-logo-icon" width="16" height="16">
            <use href="./img/icon.svg#icon-food_boot"></use>
          </svg>
        </div>
        <p class="footer-logo-text">Food Boutique</p>
      </a>
      <ul class="footer-socials-list">
        <li class="footer-socials-item">
          <a href="">
            <svg class="footer-socials-icon" width="24" height="24">
              <use href="./img/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-item">
          <a href="">
            <svg class="footer-socials-icon" width="24" height="24">
              <use href="./img/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-item">
          <a href="">
            <svg class="footer-socials-icon" width="24" height="24">
              <use href="./img/icon.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-info-form">
      <div class="footer-info">
        <h2 class="footer-info-title">
          Discover the Variety of Flavors and Quality
        </h2>
        <p class="footer-info-text">
          An online store where you will find fresh, natural and delicious
          products for a healthy life and unforgettable gastronomic adventures.
        </p>
      </div>
      <form class="footer-form">
        <label class="footer-form-text footer-common-text" for="user-email"
          >Subscribe and learn about new products!</label
        >
        <input
          class="footer-form-email"
          id="user-email"
          type="email"
          name="user-email"
          placeholder="Email"
        />
        <button class="footer-form-btn" type="submit">Send</button>
      </form>
      <p class="footer-common-text footer-rights">
        Food Boutique. All rights reserved.
      </p>
      <ul class="footer-terms">
        <li><a href="" class="footer-common-text">Privacy Policy</a></li>
        <li class="footer-common-text">/</li>
        <li><a href="" class="footer-common-text">Terms of Service</a></li>
      </ul>
    </div>
  </div>
</section>
