<header class="header">
  <div class="container header-container">
    <div class="header-div-link">
    <a href="" class="header-logo">
      <svg class="header-icon-food" width="16" height="16">
        <use href="./img/icon.svg#icon-food_boot"></use>
      </svg>
    </a>
    <a class="header-name">Food Boutique</a>
  </div>
    <nav class="header-nav">
      <ul class="header-ul">
        <li class="header-li"><a href="" class="header-home header-nav-link">Home</a></li>
        <li class="header-buy">
          <a href="" class="header-goods header-nav-link">
        <svg class="header-icon-shop" width="14" height="14" >
          <use href="./img/icon.svg#icon-shop"></use>
        </svg>
      </a></li>
        <li class="header-cart">
          <a href="" class="header-cart-link">CART
            <span class="header-cart-count">(0)</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
