<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Welcome to the 
      <span class="hero-span-title">Food </span> 
      Boutique!
    </h1>
    <p class="hero-text">
      With Food Boutique, you're not just subscribing to food, you're signing up
      for a fresher, fitter, and happier you.
    </p>
    <div class="hero-fix">
    <picture>
      <source media="(min-width: 1440px)" srcset="./img/hero14401x-min.jpg 1x, ./img/hero14402x-min.jpg 2x" type="image/jpg">
      <source media="(min-width: 768px)" srcset="./img/hero7681x-min.jpg 1x, ./img/hero7682x-min.jpg 2x" type="image/jpg">
      <source media="(min-width: 319.321px)" srcset="./img/hero3701x-min.jpg 1x , ./img/hero3702x-min.jpg 2x" type="image/jpg">
      <img class="hero-photo" src="./img/hero3701x-min.jpg" alt="food">
    </picture>
    <div class="hero-back-org">
        <svg class="hero-icon" width="92" height="92">
            <use href="./img/icon.svg#icon-organic-food"></use>
        </svg>
    </div>
  </div>
  </div>
</section>
