<div class="modal-backdrop-two is-hidden-basket">
  <div class="modal-container-basket">
    <button class="modal-close-btn-basket">
      <svg class="svg-close" width="20" height="20">
        <use href="./img/icon.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-container-basket-content">
      <img
        class="modal-container-basket-img"
        srcset="./img/tomatoe1x-min.png 1x, ./img/tomatoe2x-min.png 2x"
        src="./img/tomatoe1x-min.png"
        alt="tomato"
        loading="lazy"
      />
      <svg class="icon-ellipse">
        <use href="./img/icon.svg#icon-Ellipse-1-2"></use>
      </svg>

      <div class="modal-container-basket-info">
        <h2 class="modal-container-basket-title">Order success</h2>
        <p class="modal-container-basket-discription">
          Thank you for shopping at Food Boutique. Your order has been received
          and is now being freshly prepared just for you! Get ready to indulge
          in nourishing goodness, delivered right to your doorstep. We're
          thrilled to be part of your journey to better health and happiness.
        </p>
      </div>
    </div>
  </div>
</div>
