<!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
      Nataliia
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ 
     1. Всі класи починаються з вашого розділу, тобто якщо у вас footer,
клас обовязково має виглядати так class="footer-вашаназва" - це потрібно 
для того, щоб ваші назви не збігались!!  
     2. Обовязково у вашій секції всередині має бути дів з класом container!!!!!! (потрібно для різних розмірів екрану тобто для Mobile/tablet/dekstop verison) 
     Приклад знизу або файл hero.html можете глянути
     <section><div class="container"></div></section>
     3. Якщо щось потрібно пояснити чи додати фотографію чи іконку - пишіть постараюсь допомогти

     Успіхів!  -->

<section>
     <div class="container">
          <div id="pagination-container" class="pagination">
               <div class="tui-start">
                    <span class="element-nav tui-is-disabled">
                         <svg class="icon" width="24" height="24">
                              <use href="./img/icon.svg#icon-arrowx2"></use>
                         </svg>
                    </span>
                    <span class="element-nav tui-is-disabled">
                         <svg class="icon" width="24" height="24">
                              <use href="./img/icon.svg#icon-arrowx1"></use>
                         </svg>
                    </span>
               </div>
               <ul class="pagination_list">
                    <li href="#" class="pagination_item post">1</li>
                    <li href="#" class="pagination_item post">2</li>
                    <li href="#" class="pagination_item post">3</li>
                    <li href="#" class="pagination_item post">4</li>
                    <li href="#" class="pagination_item post tui-next-is-ellip tui-last-child">
                         <span class="tui-ico-ellip">...</span>
                    </li>
               </ul>
               <div class="tui-end">
                    <span href="#" class="element-nav tui-ico-next">
                         <svg class="icon" width="24" height="24">
                              <use href="./img/icon.svg#icon-arrowx2"></use>
                         </svg>
                    </span>
                    <span href="#" class="element-nav tui-ico-last">
                         <svg class="icon" width="24" height="24">
                              <use href="./img/icon.svg#icon-arrowx1"></use>
                         </svg>
                    </span>
               </div>
          </div>
     </div>
     </div>
</section>