<!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
      Nataliia
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ 
     1. Всі класи починаються з вашого розділу, тобто якщо у вас footer,
клас обовязково має виглядати так class="footer-вашаназва" - це потрібно 
для того, щоб ваші назви не збігались!!  
     2. Обовязково у вашій секції всередині має бути дів з класом container!!!!!! (потрібно для різних розмірів екрану тобто для Mobile/tablet/dekstop verison) 
     Приклад знизу або файл hero.html можете глянути
     <section><div class="container"></div></section>
     3. Якщо щось потрібно пояснити чи додати фотографію чи іконку - пишіть постараюсь допомогти

     Успіхів!  -->




