/* <!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
    Ivan || Yulia
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ --> */
@import url('./variable.css');
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~mobile~~~~~~~~~~~~~~~~ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.cart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
}
.cart-count {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 100px;
}
.cart-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-link);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  fill: transparent;
  stroke: #ffffff;
  width: 38px;
  height: 38px;
  transition: background-color cubic-bezier(0.6, -0.28, 0.735, 0.045) 250ms;
}
.cart-section {
  padding-bottom: 120px;
}
.cart-link-icon:hover,
.cart-link-icon:focus {
  background-color: var(--icon-hovecolor);
}
.cart-name {
  margin-left: 14px;
  font-size: 24px;
  color: #010101;
  font-weight: 500;
}

.cart-empty-basket {
  align-items: center;
}
.cart-photo {
  margin-bottom: 28px;
}
.cart-empty-basket {
  display: flex;
  flex-direction: column;
}
.cart-empty-desc {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.cart-desc-ul li {
  margin-bottom: 14px;
}
.cart-empty-text {
  font-size: 18px;
  font-weight: 500;
  color: #010101;
}

.cart-gray-text {
  font-size: 14px;
  color: rgba(1, 1, 1, 0.7);
  max-width: 279px;
}
.cart-link {
  color: var(--color-link);
  transition: color cubic-bezier(0.6, -0.28, 0.735, 0.045) 250ms;
}
.cart-link:hover,
.cart-link:focus {
  color: var(--icon-hovecolor);
}

/* Order form */

.cart-del-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 300px;
}
.cart-delete-btn {
  background: none;
  border: none;
  color: #010101;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}
.cart-order-form {
  margin-top: 80px;
}
.cart-your-order {
  color: #010101;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1; /* 116.667% */
}
.cart-card-list {
  margin-right: auto;
  margin-left: auto;
}
.cart-total-sum {
  padding: 18px 18px 14px 18px;
  display: flex;
  align-items: center;

  margin-top: 40px;
  border-radius: 8px;
  background: rgba(109, 132, 52, 0.05);

  height: 60px;
}
.cart-sum-ul {
  display: flex;
}
.cart-total {
  color: #010101;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  margin-right: 161px;
  margin-top: 6px;
}
.cart-sum {
  color: rgba(1, 1, 1, 0.2);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1; /* 116.667% */
  margin-top: 12px;
}
.cart-number {
  color: #010101;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1; /* 116.667% */
}
.cart-order-form {
  margin-left: auto;
  margin-right: auto;
}
.cart-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.cart-email-input {
  padding: 12px 183px 12px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  margin-bottom: 14px;
}
.cart-form-btn {
  display: inline-flex;
  padding: 12px 138px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: var(--color-link);
  border: none;
  color: #ffffff;
}
.cart-form-btn:hover,
.cart-form-btn:focus {
  color: var(--icon-hovecolor);
  background: #ffffff;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           TABLET
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 768px) {
  .cart-count {
    margin-bottom: 130px;
  }
  .cart-photo {
    margin-bottom: 40px;
  }
  .cart-empty-text {
    font-size: 20px;
  }
  .cart-gray-text {
    font-size: 18px;
    max-width: 387px;
  }
  .cart-name {
    font-size: 32px;
  }
  .cart-link-icon {
    width: 42px;
    height: 42px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~

~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           LAPTOP
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1440px) {
  .cart-count {
    margin-bottom: 150px;
  }
}
