/* <!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
    Katherine
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ --> */
.discount-container {
    margin-top: 80px;
}

.discount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discount-title {
    text-align: start;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}

.product-card {
    background-color: #fafafa;
    border-radius: 15px;
    width: 100%;
    height: 232px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
}

.product-background {
    background-color: #E8E8E2;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    /* justify-content: center;
    align-items: center; */
    display: flex;
    position: relative;
}

.product-image {
    background-color: #E8E8E2;
    width: 114px;
    height: 114px;
    margin: auto;
}

.product-details {
    margin-top: 16px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.details-text {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding-left: 16px;
    padding-right: 16px; */
}

/* .name-price {
    display: flex;
    justify-content: space-between;
    width: 262px;
    margin-right: 8px;
} */

.price-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.product-name {
    font-size: 18px;
    font-weight: 500;
    margin-right: auto;
}

.product-price {
    font-size: 18px;
    font-weight: 500;
}

/* .discount-label {
    display: flex;
} */

.discount-icon-cont {
    width: 34px;
    height: 34px;
    border-radius: 30px;
    background-color: #6D8434;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount-label-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    right: -8px;
    top: -10px;
    background-color: #6D8434;
    flex-shrink: 0;
    border-radius: 50%;
}

.discount-icon {
    fill: #f4f4fd;
    width: 18px;
    height: 18px;
}


@import url('./variable.css');
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~mobile~~~~~~~~~~~~~~~~ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media screen and (min-width: 375px) {
    .product-background {
        width: 295px;
    }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           TABLET
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 768px) {
    .discount {
        flex-direction: row;
        gap: 32px;
    }
    .discount-container {
        margin-top: 64px;
    }
} 


/* ~~~~~~~~~~~~~~~~~~~~~~~~~

~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           LAPTOP
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1440px) {
    .discount-container {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }
    .product-card {
        width: 275px;
    }
    .product-background {
        width: 243px;
    }
    .discount {
        flex-direction: column;
        gap: 20px;
    }
    .discount-container {
        margin-top: 40px;
    }
}