@import url('./variable.css');
/* <!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
    Ондрій + Andrian Pohrebniak + Pasha
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ --> */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         MOBILE view       
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.filter-categories {
  padding: 14px 20px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  color: #010101;
  font-size: 14px;
  line-height: 1.125rem;
  margin-bottom: 12px;
  display: inline-block;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url('../img/chevron-down.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 15px center;
}
.filter-categories::-ms-expand {
  display: none;
}
.option-show-all {
  padding-right: 30px;
}
.filter {
  padding-bottom: 180px;
}

.filter-selec {
  width: 100%;
  padding: 14px 20px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  color: #010101;
  font-size: 14px;
  line-height: 1.125rem; /* 128.571% */
  margin-bottom: 12px;
  display: inline-block;
  transition: border cubic-bezier(0.6, -0.28, 0.735, 0.045) 150ms;
}
.filter-div-label {
  position: relative;
}
.filter-btn-search {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  padding: 0;
  top: 14px;
  right: 20px;
}
.filter-sort {
  background-color: var(--white);
  margin-bottom: 40px;
  appearance: none;
  background-image: url('../img/chevron-down.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 15px center;
}
.filter-seach-label {
  color: rgba(1, 1, 1, 0.3);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.125rem; /* 128.571% */
  display: block;
  margin-bottom: 8px;
}
.filter-selec:hover,
.filter-selec:focus {
  border: 1px solid green;
  outline: none;
}
.filt-text-no {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center;
}
.filt-p-no {
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
  line-height: 1.125rem;
  padding-top: 14px;
}
.filt-span-no {
  color: var(--color-link);
}
.filt {
  padding-top: 60px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         CARD view       
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.filter-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}
.filt-div-card {
  width: 100%;
  height: 356px;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 20px;
  cursor: pointer;
}
.filt-div-img {
  max-width: 295px;
  height: 178px;
  background-color: #e8e8e2;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.filt-h-name {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.25rem;
  margin-bottom: 10px;
}
.filt-div-group {
  display: flex;
}
.filt-div-text {
  display: flex;
  column-gap: 8px;
  margin-bottom: 20px;
}
.filt-text {
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  line-height: 0.875rem;
}
.filt-span {
  margin-left: 4px;
  color: #010101;
  font-size: 12px;
  line-height: 0.875rem;
}
.filt-div-price {
  display: flex;
}
img .filt-div-img {
  height: 140px;
}
.filt-h-price {
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.25rem; /* 111.111% */
  margin-right: auto;
  display: flex;
  align-items: flex-end;
}
.filt-btn-card {
  border-radius: 30px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--color-link);
  transition: background-color cubic-bezier(0.6, -0.28, 0.735, 0.045) 150ms;
}
.filt-btn-card:hover,
.filt-btn-card:focus {
  background-color: var(--icon-hovecolor);
}
.filt-card-icon {
  fill: var(--back-color);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           TABLET
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 768px) {
  .filt {
    padding-top: 110px;
    padding-bottom: 300px;
  }
  .filt-p-no {
    width: 335px;
  }

  .filt-div-position {
    display: flex;
    gap: 8px;
    margin-bottom: 40px;
    align-items: flex-end;
  }
  .filter-search-something {
    width: 269px;
    height: 52px;
    margin: 0;
  }
  .filter-strilka {
    width: 182px;
    height: 52px;
    margin: 0;
  }
  .filt-div-card {
    width: 336px;
    height: 360px;
  }
  .filter-cards {
    gap: 32px;
    justify-content: center;
  }
  .filt-div-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    margin-bottom: 20px;
  }
  .filt-div-text-new {
    display: flex;
    align-items: flex-start;
    gap: 14px;
  }
  .filt-div-text-second {
    display: flex;
    align-items: flex-start;
    gap: 4px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~

~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           LAPTOP
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1440px) {
  .filt {
    padding-top: 160px;
    padding-bottom: 0px;
  }
  .filt-text-no {
    font-size: 20px;
  }
  .filt-p-no {
    width: 371px;
    font-size: 18px;
    line-height: 1.5rem;
  }

  .filter {
    padding-bottom: 0;
  }
  .filt-div-card {
    width: 295px;
    height: 363px;
  }
  .filter-cards {
    gap: 40px 20px;
    width: 925px;
    margin-bottom: 40px;
  }
  .filter-strilka {
    width: 189px;
  }
  .filt-div-position {
    width: 925px;
    padding-right: 30px;
  }
  .filt-div-text-new {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
  .filt-div-text-second {
    display: flex;
    align-items: flex-start;
    gap: 4px;
  }
  .filter .container {
    padding: 0;
    margin: 0 40px 0 0;
  }
}
