/* <!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
    Sloboda Volodymyr
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ --> */
@import url('./variable.css');
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~mobile~~~~~~~~~~~~~~~~ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
footer{
    background-color: var(--color-link);
    margin: 0;
}
.footer{
    height: 100%;
}
.footer-container{
    position: relative;
}
.footer-ref{
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 20px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: #E8E8E2;
    border-radius: 50%;
    margin-right: 8px;
}
.footer-logo-icon{
    fill: var(--color-link);
}
.footer-logo-text{
    color: #E8E8E2;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.25rem;
    letter-spacing: -0.0225rem;
    font-family: var(--font-quincy);
}
.footer-socials-list {
    display: flex;
    gap: 12px;
}

.footer-socials-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms;
}
.footer-socials-item:hover,
.footer-socials-item:focus{
    background-color: rgba(232, 232, 226, 0.20);;
}
.footer-socials-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(232, 232, 226, 0.30);
    border-radius: 10px;
}
.footer-info-title {
    color: #E8E8E2;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -0.02em;
}

.footer-info-text {
    color: rgba(232, 232, 226, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
}
.footer-form-text {
    margin-bottom: 20px;
}
.footer-form-email {
    display: flex;
    padding: 12px 0px 12px 18px;
    width: 100%;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid #E8E8E2;
    background-color: transparent;
    outline: none;
    color: #E8E8E2;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.footer-form-email::placeholder{
    color: rgba(232, 232, 226, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
}
.footer-form-btn {
    color: #010101;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    padding: 12px 0px 12px ;
    width: 100%;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid #E8E8E2;
    background-color: #E8E8E2;
    transition: 250ms;
}
.footer-form-btn:focus,
.footer-form-btn:hover{
    color: #6D8434;
}

.footer-terms {
    display: flex;
    gap: 8px;
}

.footer-common-text{
    display: flex;
    color: #E8E8E2;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
}

.footer-btn-to-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    animation: fadeIn 250ms;
}
.modal-backdrop{
    animation: fadeIn 250ms;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: flex;
    pointer-events: all;
    user-select: none;
}
.loader-inner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #E8E8E2;
    border-right: 3px solid transparent;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.error-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}
@media screen and (max-width:767.98px){
    
        .footer-logo {
            margin-right: 8px;
        }
    
        .footer-socials-list {
            margin-bottom: 40px;
        }
    
        .footer-socials-item {
            margin-right: 12px;
        }
    
        .footer-info {
            margin-bottom: 80px;
        }
    
        .footer-info-title {
            margin-bottom: 12px;
        }


    
        .footer-form-email {
            margin-bottom: 14px;
        }

        .footer-form-btn {
            margin-bottom: 80px;
        }
    
        .footer-rights {
            margin-bottom: 8px;
        }
    
        .footer-common-text {
            display: flex;
        }
        .footer-terms{
            padding-bottom: 20px;
        }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           TABLET
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 768px)  {
    .footer-container{
        display: flex;
        position: relative;
    }
    .footer-logo{
        width: 32px;
        height: 32px;
    }
    .footer-logo-icon{
        width: 20px;
        height: 20px;
    }
    .footer-logo-text{
        width: 157px;
        font-size: 24px;
        letter-spacing: -0.02em;
    }
    .footer-socials-item{
        width: 44px;
        height: 44px;
    }
    .footer-socials-icon{
        width: 24px;
        height: 24px;
    }
    .footer-info-title {
        font-size: 40px;
        line-height: 1.1;
        letter-spacing: -0.02em;
        margin-bottom: 20px;
    }
    .footer-info-text{
        font-size: 18px;
        line-height: 1.33;
    }
    .footer-form-btn{
        width: 336px;
    }
    .footer-form-email{
        width: 336px;
        margin-bottom: 20px;
    }
        .footer-rights {
            position: absolute;
            bottom: 20px;
            left: 32px;
        }
    
        .footer-terms {
            position: absolute;
            bottom: 20px;
            right: 32px;
        }
        .footer-common-text{
            font-size: 18px;
            line-height: 1.33;
        }
} 
@media screen and (min-width: 768px) and (max-width:1439.98px){
            .footer-info {
                margin: 40px 32px 0 78px;
                max-width: 429px;
            }
        
            .footer-form {
                margin: 64px 125px 120px 78px;
            }
        
            .footer-form-btn {
                margin-bottom: 158px;
            }

            .footer-rights {
                position: absolute;
                bottom: 20px;
                left: 32px;
            }
        
            .footer-terms {
                position: absolute;
                bottom: 20px;
                right: 32px;
            }
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~

~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           LAPTOP
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1440px) {
    .footer-container {
            display: flex;
            padding: 20px;
        }
        .footer-logo-text{
            width: 157px;
        }
        .footer-info-form {
            display: flex;
        }
        .footer-info{
            margin: 40px 148px 166px 149px;
        }
        .footer-form{
            margin-top: 40px;
        }
        .footer-terms{
            right: 100px;
        }
        .footer-rights{
            left: 100px;
        }
}