/* <!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
         Natalia
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ --> */
@import url('./variable.css');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 8px;
}

.element-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 40px;
    height: 40px;
    border-radius: 60px;
    background: #FAFAFA;
}

.pagination__item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.tui-start,
.tui-end {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.tui-end {
    transform: scale(-1);
}

.element-nav:hover,
.pagination__item:hover {
    background-color: #6D8434;
}

.pagination_list {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    gap: 8px;
}

.post {
    color: #A3A3A3;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post:hover {
    color: #E8E8E2;
    background-color: #6D8434;
}

.pagination__list {
    display: flex;
    list-style-type: none;
}

.pagination__item {
    padding: 8px;
    margin: 8px;
    cursor: pointer;
}

.pagination__item--active {
    font-weight: 800;
    border-radius: 60px;
    background-color: #6D8434;
    border-radius: 50%;
}
.pagination_item:nth-child(3) {
   display: none;
}
.pagination_item:nth-child(4) {
   display: none;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~mobile~~~~~~~~~~~~~~~~ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           TABLET
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 768px) {
.pagination_item:nth-child(3) {
   display: flex;
}
.pagination_item:nth-child(4) {
   display: flex;
}
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~

~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           LAPTOP
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1440px) {

}