
.pagination-number.active {
  color: #e8e8e2;
  background-color: #6d8434;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination {
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.pagination-list{
  display: flex;
  gap: 10px,15px;

}

.rorate{
  transform: rotate(180deg);
}

.dot-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

}
.pagination-number{
  border-radius: 50%;
  border:none;
  color: #A3A3A3;
  background-color: transparent;
  width: 40px;
height: 40px;
}
.pagination-number:hover, .pagination-number:focus {
  background-color: #6d8434;
  color: #e8e8e2;
}
.pagination-arrow{
  border-radius: 50%;
  border:none;
  color: #A3A3A3;
  background-color: white;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.pagination-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width: 768px){
  .pagination-arrow{
    display: none;
  }
  
}
@media screen and (min-width: 1440px){
  .pagination-div{
  gap: 10px;
}
}

