.pagination-container{
    margin-top: 20px;
}

.pagination-list{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
}

.pagination-arrow{
    width: 60px;
    height: 40px;
}

.prew-button{
    margin-left:  15px;
}

.next-button{
    margin-right: 15px;
}

.pagination-number{
    width: 40px;
    height: 40px;

    background-color: transparent;
    color: #FE7031;
    border: 1px solid #4F4E4E;
    border-radius: 4px;
}

.pagination-number:hover,
.pagination-number:focus{
    background-color: #FE7031;
    color: #202025;
}

.back-btn-color{
    background-color: green; ;
    color: #202025;
}

/* .pagination-item:first-child{
    margin-right: 198px;
}
.pagination-item:last-child{
    margin-left: 198px;
} */
.pagination-item:nth-last-child(n + 2){
    margin-right: 15px;
}

.dot-item{
    width: 40px;
    height: 40px;
    padding: 10px 13px;

    background-color: transparent;
    color: #FE7031;
    border: 1px solid #4F4E4E;
    border-radius: 4px;
}

.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.active{
    background-color: #FE7031;
    color: #202025;
}