/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./header.css');
@import url('./variable.css');
@import url('./hero.css');
@import url('./filter.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~mobile~~~~~~~~~~~~~~~~ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body{ 
  background-color: var(--back-color);
  font-family: var(--font-montreal);
}
.container{ 
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
