/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./header.css');
@import url('./variable.css');
@import url('./hero.css');
@import url('./filter.css');
@import url('./cart.css');
@import url('./discount.css');
@import url('./footer.css');
@import url('./popular.css');
@import url('./pagination.css');
@import url('./modal.css');


*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~mobile~~~~~~~~~~~~~~~~ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body{ 
  background-color: var(--back-color);
  font-family: var(--font-montreal);
}
.container{ 
  max-width: 375px;
  padding: 0 20px;
  /* margin: 0 auto; */
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           TABLET
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 768px) {
  .container{ 
    max-width: 768px;
    padding: 0 32px;
    margin: 0 auto;
  }
} 



/* ~~~~~~~~~~~~~~~~~~~~~~~~~

~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           LAPTOP
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1440px) {
  .container { 
    max-width: 1440px;
    padding: 0 100px;
  } 
}